
<form action="/admin/handleCreate" method="post" class="course-form">
    <h3 class="col-title">添加课程</h3>

    <input type="text" name="title" placeholder="课程标题" />
    <input type="text" name="grade" placeholder="课程等级" />
    <input type="text" name="trainees" placeholder="适合人群" />
    <input type="text" name="lecturer" placeholder="授课导师" />
    <input type="text" name="time" placeholder="授课时间" />
    <textarea name="summary" id="" cols="30" rows="10">课程简介</textarea>

    <input type="submit" value="提交" class="btn-submit">
</form>