<form action="/admin/handleEdit" method="post" class="course-form">
	<h3 class="col-title">编辑课程</h3>

	<input type="text" name="title" placeholder="课程标题" value="<%= course.title %>"/>
	<input type="text" name="grade" placeholder="课程等级" value="<%= course.grade %>" />
	<input type="text" name="trainees" placeholder="适合人群" value="<%= course.trainees %>" />
	<input type="text" name="lecturer" placeholder="授课导师" value="<%= course.lecturer %>" />
	<input type="text" name="time" placeholder="授课时间" value="<%= course.time %>" />
	<textarea name="summary" id="" cols="30" rows="10"><%= course.summary %></textarea>
	<input type="hidden" name="id" value="<%= course._id %>" />

	<input type="submit" value="提交" class="btn-form">
	<a href="/admin" class="btn-form btn-cancel">取消</a>
</form>