<% if (courses.length) { %>
<table border="1" class="course-content">
	<thead>
		<tr>
			<th>编号</th>
			<th>课程标题</th>
			<th>课程等级</th>
			<th>授课讲师</th>
			<th>授课时间</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<% courses.forEach(function (course, index) {%>
		<tr>
			<td><%= index+1 %></td>
			<td><%= course.title %></td>
			<td><%= course.grade %></td>
			<td><%= course.lecturer %></td>
			<td><%= moment(course.time).format('YYYY-MM-DD') %></td>
			<td>
				<a href="delete?id=<%= course.id %>">删除</a>
				<a href="edit?id=<%= course.id %>">编辑</a>

			</td>
		</tr>
		<% })%>
	</tbody>
</table>
<% } else { %>
<div class="none-data">
	没有课程数据！前往 <a href="create">添加课程</a>
</div>
<% } %>