<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%- title %></title>
	<link rel="stylesheet" href="./css/style.css"/>
	<link rel="shortcut icon" href="./favicon.ico"/>
</head>
<body>
	<div class="header">
		<div class="wrapper">
			<h2 class="logo"><a href="/">99编辑部 - 知识平台</a></h2>
		</div>
	</div>
	<div class="wrapper">
		<div class="main">
			<%- body %>
		</div>
	</div>
	<div class="footer">
		Copyright © <a href="/" title="F2E.TMING">F2E.TMING</a> All Rights Reserved.
	</div>
</body>
</html>