/**
 *
 * @Author: cat
 * @Date: 2016-09-23
 *
 **/


/*---------------------- form content --------------------*/
.course-form{
    padding: 20px 30px;
    margin: 0 auto;
    width: 400px;
    text-align: center;
}
.course-form .col-title{
    margin-bottom: 15px;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    color: #2490ce;
}
.course-form label{
    display: block;
    padding-bottom: 5px;
    font-weight: 700;
    text-align: left;
}
.course-form input,
.course-form textarea{
    margin-bottom: 20px;
    padding: 6px;
    width: 386px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
}

.course-form textarea{
    color: #999;
}
.course-form .btn-form{
    display: inline-block;
    margin: 0 10px;
    width: 150px;
    background-color: #2490ce;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    color: #fff;
}
.course-form .btn-form:hover{
    opacity: 0.9;
}
.course-form .btn-cancel{
    padding: 6px 0;
    background-color: #9b9b9b;
    border-radius: 4px;
}
.course-form .btn-cancel:hover{
    text-decoration: none;
}

/*.course-content{*/
    /*text-align: center;*/
    /*border: 1px solid #ccc;*/
    /*width: 100%;*/
/*}*/

/*.course-content th,*/
/*.course-content td{*/
    /*height: 36px;*/
/*}*/

/*.course-content th{*/
    /*background: #BADFF5;*/
/*}*/

/*.none-data{*/
    /*padding: 200px 0;*/
    /*text-align: center;*/
    /*font-size: 20px;*/
/*}*/
