/**
 *
 * @Author: cat
 * @Date: 2016-09-23
 *
 **/

/* 重置样式 */
body, div, span, object, iframe, input, h1, h2, h3, h4, h5, h6, p, pre, a, acronym, address, code, del, em, font, img, ins, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

input, select {
    vertical-align: middle;
}

input, textarea, select {
    font: 14px/1.5 "microsoft yahei", Arial, sans-serif;
}

fieldset, img {
    border: 0;
}

address, code, th, em {
    font-style: normal;
}

ol, ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

strong {
    font-weight: normal;
}

/* 基础样式 */
body {
    margin: 0 auto;
    font: 14px/1.5 "microsoft yahei", Arial, sans-serif;
    color: #666;
    background: #fff;
}

.wrapper {
    margin: 0 auto;
    width: 1002px;
}

.clearfix:after {
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clear {
    clear: both
}

a {
    color: #2490ce;
    text-decoration: none;
    outline: none;
}
a:hover{
    text-decoration: underline;
}

/*---------------------- footer ---------------------*/
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #222324;
    text-align: center;
    line-height: 50px;
    color: #afafaf;
}
.footer a{
    color: #afafaf;
}
.footer a:hover{
    text-decoration: underline;
}